:root {
  /* Colors */
  /* Primary */
  --light-red: hsl(0, 100%, 67%);
  --orangey-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);

  /* Gradients */
  --light-slate-blue-background: hsl(252, 100%, 67%);
  --light-royal-blue-background: hsl(241, 81%, 54%);
  --violet-blue-circle: hsla(256, 72%, 46%, 1);
  --persian-blue-circle: hsla(241, 72%, 46%, 0);

  --gradient-primary: linear-gradient(var(--light-slate-blue-background), var(--light-royal-blue-background));

  /* Neutral */
  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);

  /* Transparent */
  --royal-blue-transparent: hsl(224, 81%, 54%, 0.1);
  --dark-gray-blue-transparent: hsl(224, 30%, 27%, 0.5);
  --white-transparent-100: hsl(0, 0%, 100%, 0.75);
  --white-transparent-200: hsl(0, 0%, 100%, 0.35);
  --circle-gradient: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
  --light-red-transparent: hsl(0, 100%, 67%, 0.05);
  --orangey-yellow-transparent: hsl(39, 100%, 56%, 0.05);
  --green-teal-transparent: hsl(166, 100%, 37%, 0.05);
  --cobalt-blue-transparent: hsl(234, 85%, 45%, 0.05);

  /* Font Weights */
  --fw-regular: 500;
  --fw-bold: 700;
  --fw-extra-bold: 800;
}

/* Use a more-intuitive box-sizing model.*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
}

/* Typographic tweaks!
    Add accessible line-height
    Improve text rendering */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Remove built-in form typography styles */
input,
button,
textarea,
select {
  font: inherit;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  color: var(--dark-gray-blue);
  line-height: 1.2rem;
}

.results-card {
  max-width: 42rem;
  display: grid;
}

.results {
  text-align: center;
  background: var(--gradient-primary);
  border-radius: 0 0 1.5rem 1.5rem;
  color: var(--white-transparent-100);
  display: grid;
  gap: 1.12rem;
  align-content: start;
  padding: 1rem 2.5rem 1rem 2.5rem;
}

.results__title {
  font-weight: var(--fw-bold);
  font-size: 0.85rem;
}

.results__score {
  width: 6.8rem;
  margin-inline: auto;
  background: var(--circle-gradient);
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  display: grid;
  place-content: center;
  gap: 1rem;
}

.results__score .score {
  margin-top: 1.2rem;
  font-size: 2.7rem;
  font-weight: var(--fw-extra-bold);
  color: var(--white);
}

.results__score .total {
  font-size: 0.75rem;
  font-weight: var(--fw-extra-bold);
  color: var(--white-transparent-200);
}

.results__grid-group {
  display: grid;
  gap: 0.6rem;
  font-size: 0.75rem;
  line-height: 1rem;
  margin-bottom: 1rem;
}

.results__comment {
  font-size: 1.15rem;
  color: var(--white);
  font-weight: var(--fw-extra-bold);
}

.summary {
  display: grid;
  gap: 1.25rem;
  align-content: start;
  padding: 1.2rem 1.5rem 1.5rem 1.5rem;
}

.summary__title {
  font-size: 0.85rem;
  font-weight: var(--fw-bold);
}

.summary__grid-group {
  display: grid;
  gap: 0.7rem;
}

.summary__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem;
  border-radius: 0.5rem;
}

.item__type {
  display: flex;
  flex-direction: row;
  gap: 0.7rem;
  justify-content: space-between;
  align-items: center;
  font-size: 0.65rem;
  font-weight: var(--fw-regular);
}

svg {
  height: 1rem;
  width: 1rem;
}

#reaction {
  color: var(--light-red);
  background-color: var(--light-red-transparent);
}

#memory {
  color: var(--orangey-yellow);
  background-color: var(--orangey-yellow-transparent);
}

#verbal {
  color: var(--green-teal);
  background-color: var(--green-teal-transparent);
}

#visual {
  color: var(--cobalt-blue);
  background-color: var(--cobalt-blue-transparent);
}

.summary_item_score {
  color: var(--dark-gray-blue-transparent);
  font-size: 0.75rem;
  font-weight: var(--fw-extra-bold);
}

.summary_item_score span {
  color: var(--dark-gray-blue);
}

.button {
  color: var(--white);
  background: var(--dark-gray-blue);
  border-radius: 100vw;
  border: 0;
  padding: 0.9rem 1rem;
  line-height: 1;
  font-size: 0.85rem;
  font-weight: var(--fw-bold);
}

.button:hover,
.button:focus-visible {
  background: var(--gradient-primary);
}

.footer {
  text-align: center;
  font-size: 0.7rem;
}

@media (min-width: 600px) {
  body {
    min-height: 100vh;
    display: grid;
    place-items: center;
  }

  .results-card {
    max-width: 40rem;
    display: grid;
    margin-inline: 1rem;
    grid-template-columns: 1fr 1fr;
    border-radius: 1.5rem;
    box-shadow: 0.5rem 1rem 4rem var(--royal-blue-transparent);
  }

  .results {
    border-radius: 1.5rem;
    gap: 2rem;
    padding: 2rem 2.5rem 2rem 2.5rem;
  }

  .results__grid-group {
    margin-bottom: 0.5rem;
  }

  .results__title {
    font-size: 1.25rem;
  }

  .results__score {
    width: 11rem;
    gap: 2rem;
  }

  .results__score .score {
    font-size: 4rem;
  }

  .results__score .total {
    font-size: 1rem;
  }

  .results__grid-group {
    gap: 1.2rem;
    font-size: 1rem;
    line-height: 1.3rem;
    margin-inline: 0.5rem;
  }

  .results__comment {
    font-size: 1.8rem;
  }

  .summary {
    display: grid;
    gap: 2rem;
    align-content: start;
    padding: 2rem;
  }

  .summary__title {
    font-size: 1.25rem;
    font-weight: var(--fw-bold);
  }

  .summary__grid-group {
    display: grid;
    gap: 1rem;
    margin-bottom: 0.3rem;
  }

  .summary__item {
    padding: 0.9rem;
  }

  .item__type {
    font-size: 0.85rem;
  }

  .summary_item_score {
    font-size: 0.95rem;
  }

  .button {
    padding: 1rem;
    font-size: 1rem;
  }

  .footer {
    text-align: center;
    margin-top: 10px;
  }
}
